/**
 * ${1:Index}Controller
 * @package       ${2}
 * @author        ${3:`g:snips_author`}
 * @copyright     (c) `strftime("%Y")`
 */
class ${1:Index}Controller extends Controller
{
    /**
     * actionIndex
     *
     * @access public
     * @return void
     */
    public function actionIndex()
    {
	${2:// some code}
    }
}
