/**
 * ${1:Index}Controller
 *
 * @uses Controller
 * @package
 * @version 0.1
 * @copyright
 * @author Alexandr Dorosh <dorosh.alexandr@gmail.com>
 * @license PHP Version 5.3
 */
class ${1:Index}Controller extends Controller
{
    /**
     * actionIndex
     *
     * @access public
     * @return void
     */
    public function actionIndex()
    {
	${2:// some code}
    }
}
