/**
 * $1Model
 * @package       ${2}
 * @author        ${3:`g:snips_author`}
 * @copyright     (c) `strftime("%Y")`
 */
class ${1:Model} extends CModel
{
    public function attributeNames()
    {
	return array();
    }

}
