/**
 * $1Model
 * @package       ${2}
 * @author        ${3:`g:snips_author`}
 * @copyright     (c) `strftime("%Y")`
 */
class ${1:Model} extends CModel
{
    /**
     * $4method
     *
     * @access public
     * @return void
     */
    public function ${4:method}()
    {
	    ${5:// some code}
    }

    public function attributeNames()
    {
	return array();
    }

}
